<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"><!-- кодировка сайта -->
     <!-- Сайт готов работать с мобильными устройствами -->
    <meta name="viewport"content="width=device-width,initial-scale=1">
     <!-- Подключен файл со стандартными стилями бустрап -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <style>
      .bcard-text{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 60px;
        color: #e2ddc8;
        text-shadow: 5px 5px #262527;
      }
      .oval {
      background: #e2ddc8;
      width: 1000px;
      height: 500px;
      border-radius: 15px/15px;
      position: relative;
      top: 50px;
      left: 250px;
      box-shadow: 5px 5px #262527;
      }
      body {
      background: linear-gradient(to top, #150b14, #A9417B) fixed;
      }
     </style>
  </head>
  <body>
    <h1 class="bcard-text"> B-CARD MASTER</h1>
    <div class="oval"></div>

  </body>
</html>
